.homePageBottom{
    background: #c94b4b;
    background: -webkit-linear-gradient(to top, #4b134f, #c94b4b);
    background: linear-gradient(to top, #4b134f, #c94b4b);
    
    color:white;
    padding: 8vh;
    min-height:55vh;
  }
  
.homePageHeader{
    box-shadow: inset 0 0 100vw 5px rgba(0,0,0,1);
    padding: 10vh;
    height: 45vh;
    margin: 0;
    background-image: url("../../public/resources/img/nature-background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
 }